In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
df=pd.read_csv('movie.csv')

In [6]:
df.head()

,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url
0,2021-12-15,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,5083.954,8940,8.3,en,"Action, Adventure, Science Fiction",https://image.tmdb.org/t/p/original/1g0dhYtq4i...
1,2022-03-01,The Batman,"In his second year of fighting crime, Batman u...",3827.658,1151,8.1,en,"Crime, Mystery, Thriller",https://image.tmdb.org/t/p/original/74xTEgt7R3...
2,2022-02-25,No Exit,Stranded at a rest stop in the mountains durin...,2618.087,122,6.3,en,Thriller,https://image.tmdb.org/t/p/original/vDHsLnOWKl...
3,2021-11-24,Encanto,"The tale of an extraordinary family, the Madri...",2402.201,5076,7.7,en,"Animation, Comedy, Family, Fantasy",https://image.tmdb.org/t/p/original/4j0PNHkMr5...
4,2021-12-22,The King's Man,As a collection of history's worst tyrants and...,1895.511,1793,7.0,en,"Action, Adventure, Thriller, War",https://image.tmdb.org/t/p/original/aq4Pwv5Xeu...

In [ ]:
df.columns

Index(['Release_Date', 'Title', 'Overview', 'Popularity', 'Vote_Count',
       'Vote_Average', 'Original_Language', 'Genre', 'Poster_Url'],
      dtype='object')

In [ ]:
col_df=pd.DataFrame([df.columns])
col_df

,0,1,2,3,4,5,6,7,8
0,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url

In [11]:
col_df1 = pd.DataFrame(df.columns, columns=["column_names"])
col_df1

        column_names
0       Release_Date
1              Title
2           Overview
3         Popularity
4         Vote_Count
5       Vote_Average
6  Original_Language
7              Genre
8         Poster_Url

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9837 entries, 0 to 9836
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Release_Date       9837 non-null   object
 1   Title              9828 non-null   object
 2   Overview           9828 non-null   object
 3   Popularity         9827 non-null   float64
 4   Vote_Count         9827 non-null   object
 5   Vote_Average       9827 non-null   object
 6   Original_Language  9827 non-null   object
 7   Genre              9826 non-null   object
 8   Poster_Url         9826 non-null   object
dtypes: float64(1), object(8)
memory usage: 691.8+ KB

->looks like our data has no NaN values.
->Columns like Overview,Poster_Url,Original_langauge would not be useful in analysis 
->Release date columns need to be casted into a data-time format from where we can extract our year

## Exploring the Genres Columns

In [14]:
df['Genre'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 9837 entries, 0 to 9836
Series name: Genre
Non-Null Count  Dtype
--------------  -----
9826 non-null   object
dtypes: object(1)
memory usage: 77.0+ KB

In [19]:
genre_df=df['Genre'].to_frame(name='Genre')
genre_df.head()

                                Genre
0  Action, Adventure, Science Fiction
1            Crime, Mystery, Thriller
2                            Thriller
3  Animation, Comedy, Family, Fantasy
4    Action, Adventure, Thriller, War

In [26]:
# checking for any null values
df['Genre'].isnull().sum()

11

In [27]:
df['Genre'].notnull().sum()

9826

In [28]:
df['Genre'].shape

(9837,)

In [30]:
#check for duplicated rows
print("no of duplicates in given data ->",df.duplicated().sum())
print("no of duplicates in genre column ->",genre_df.duplicated().sum())

no of duplicates in given data -> 0
no of duplicates in genre column -> 7499

->Since number of duplicates in genre columns is higher,

It can help answer:

->Are there many repeated genre values?
->Is the dataset dominated by a few genres?
->Should you compress these into categories?

In [33]:
dom_gen=df['Genre'].value_counts().to_frame(name='dominatedGenre')
dom_gen.head()

                  dominatedGenre
Genre
Drama                        466
Comedy                       403
Drama, Romance               248
Horror                       238
Horror, Thriller             199